body {
  background-color: #dcecff;
  font-family: Verdana, sans-serif;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
}

h1 {
  font-weight: bold;
  color: #384098;
  font-size: 300%;
}

pre {
  background-color: black;
  border-style: solid;
  border-color: Grey;
  border-width: 4px;
  border-radius: 5px;
  overflow: auto;
}

code {
  color: Grey;
  font-size: 115%;
}

nav {
  padding: 10px;
  text-align: center;
}

.quote {
  background-color: #d3dbe8;
}

.quote_content {
  text-align: center;
  font-style: italic;
}

.quote_source {
  text-align: right;
  padding-right: 40px;
}

h2 {
  font-size: 130%;
  text-decoration: underline;
}

h3 {
  font-size: 120%;
}

.section_group {
  text-align: center;
}

.blog_body {
  text-align: left;
}

.section {
  display: inline-block;
  width: 180px;
  margin: 5px;
}

img.icon {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 7px double #5d6277;
}

img.icon:hover {
  border: 7px solid #5d6277;
}

img.logo {
  width: 30px;
  height: auto;
}

string.code {
  background-color: black;
  color: Grey;
  font-family: Courier;
  padding: 0px 4px 2px 4px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.separator {
  background-color: gray;
  height: 3px;
  width: auto;
}

footer {
  font-size: 50%;
  font-weight: lighter;
  text-align: center;
  padding: 10px 0px 0px 0px;
}